.results {
  border: 1px solid gray;
  margin: 4px;
  margin-bottom: 12px;
  padding: 6px;
  padding-bottom: 12px;
  border-radius: 8px;
  border-bottom-width: 1px;
  transition: 250ms all linear;
  background-color: white;
}

.fullscreen {
  border: 0px solid green;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.overlay-text {
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  background-color: white;
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
}

button.rounded-button {
  padding: 4px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
}

button.large {
  padding: 12px;
}

.navbuttons button {
  margin: 0px;
}
button.navigation-previous {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
button.navigation-next {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.navigation-current {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.poster-placeholder-image {
  background-color: #3d3846;
}
.color0 { background-color: #62a0ea; }
.color1 { background-color: #57e389; }
.color2 { background-color: #f8e45c; }
.color3 { background-color: #ffa348; }
.color4 { background-color: #ed333b; }
.color5 { background-color: #c061cb; }
.color6 { background-color: #b5835a; }
.color7 { background-color: #77767b; }
