.results {
  border: 1px solid @borders;
  margin: 4px;
  margin-bottom: 12px;
  padding: 6px;
  padding-bottom: 12px;
  border-radius: 8px;
  border-bottom-width: 1px;
  transition: 250ms all linear;
  background-color: @theme_base_color;
}

.fullscreen {
  border: 0px solid green;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.overlay-text {
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  background-color: white;
  color: black;
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
}

button.rounded-button {
  padding: 4px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
}

button.large {
  padding: 12px;
}

.status-icon {
  padding-left: 6px;
  padding-right: 6px;
}

.poster-placeholder-image {
  background-color: #3d3846;
}

.playlist-overlay {
  /* hex #3d3846 to rgb(61,56,70) */
  background-color: rgba(61,56,70,0.7);
}

.playlist-icon, .playlist-label {
  color: white;
}
