[Desktop Entry]
Name=Stream
Exec=stream
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
Icon=@app-id@
X-Purism-FormFactor=Workstation;Mobile;
